/* body {
    background: #f1f1f1;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center; 
    align-items: center; 
  }
  .container {
    max-width: 1400px;
    margin: 30px auto;
    background: #f3f3f3;
    border-radius: 26px;
    padding: 30px 40px 50px 40px;
    box-sizing: border-box;
    border: 1px solid #acacac
  }
  .logo {
    display: flex;
    justify-content: center;
  }
   form {
    width: 100%;
  }
  h1 {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 25px;
  }
  .section{
    border-bottom: 1px solid #b0b0b0;
    padding-top: 10px;
    margin-bottom: 20px;
  }
  .todos{
    display: flex;
    gap: 20px;
    margin-bottom: 15px;
  }
  .field {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  .field label {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 5px;
  }
  input{
    height: 40px;
    border-radius: 10px;
    border: 1px solid #b9b9b9;
    padding: 10px 15px;
    font-size: 14px;
    color: #4d4d4d;
    box-sizing: border-box;
  }
  input::placeholder {
    color: #acacac;
    font-size: 14px;
    font-style: normal;
  }
  .but_cad{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
  button{
    background-color: #1e42b4;
    border: none;
    border-radius: 20px;
    color: white;
    font-weight: 700;
    height: 38px;
    width: 132px;
    cursor: pointer;
    font-size: 14px;
  } */