body {
    background: #FFF;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center; 

  }
  .container {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80% ;
    border-radius: 2px;
    border: 1px solid #acacac;
    border-top: 3px solid #acacac;
          box-shadow: 0px 0px 2px #b9b9b9;

  }
  .areaCad {
    display: flex;
    align-items: center;
   justify-content: center;
    flex-direction: column;
    width: 100%;
    
  }

  img
  {
    height: 120px;
    width: 120px;
  }

   form {
    width: 100%;
  }
  span{
    opacity: 1  5%;
  }



  .section{
    width: 78%;
    padding-top: 20px;
  }
  .todos{
    display: flex;
  }
  .field {
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .field label {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 5px;
  }
  .cab{
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: #Fbfbfb;
  }
  input{
    padding-left: 5px;
    height: 40px;
    border-radius: 3px;
    border: 1px solid #b9b9b9;
    font-size: 14px;
    color: #4d4d4d;
    width: 280px;
      box-shadow: 0px 0px 2px #b9b9b9;

  }
  input::placeholder {
    color: #acacac;
    font-size: 14px;
    font-style: normal;
  }
  .but_cad{
    display: flex;
    height: 50px ;
    width: 100%;
    justify-content: flex-end;
    background-color: #f2f2f2;
    
  }
  button{
    
    background-color: #1e42b4;
    border: none;
    border-radius: 20px;
    color: white;
    font-weight: 700;
    height: 38px;
    width: 132px;
    cursor: pointer;
    font-size: 14px;
  }
 button:hover {
      background-color: #5c83e1;
      color: white;
 }
  input:focus
    {
      outline: none;
      border: 1px solid #163ab4;
    }

    label{
      opacity: 80%;
    }